<nav class="navbar navbar-color navbar-expand-lg">


  <a href="#"> <img src="/assets/imagens/logo.png"
    alt="Smiley face" width="30px">
    <strong style="color: black"></strong>
  </a>

  <div class="btn-group menu-right dropleft">
    <div class="dropdown">
      <a class="fas fa-bars navbar-fontcolor" style="text-decoration:none" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="false" aria-expanded="false">
      </a>

      <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <a class="dropdown-item" href="lista-servicos.html">Serviços</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">Sair</a>
      </div>
    </div>
  </div>

</nav>
